<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wouter.vandamme.robbe.roels.flashcard"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <!-- Permissions -->

    <!-- Will need write and read of memory for the database & images -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <!-- Will need permission to the camera to take picture questions -->
    <uses-permission android:name="android.permission.CAMERA"/>



    <!-- Phone state, so we can see when the user switches from Cellular to wifi, or to a bad cellular connection
        This could be for an update where we make sure no images are loaded on a slow connection-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Obviously needs INTERNET permission to load data from the server to the user.-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.RegisterActivity"
            android:label="@string/registerButton" >
        </activity>
        <activity
            android:name=".views.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".views.QuestionActivity"
            android:label="@string/title_activity_question" >
        </activity>
        <activity
            android:name=".views.VerificationActivity"
            android:label="@string/title_activity_verification" >
        </activity>
        <activity
            android:name=".views.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".views.CreateGroupActivity"
            android:label="@string/title_activity_create_group" >
        </activity>
        <activity
            android:name=".views.GroupSettingsActivity"
            android:label="@string/title_activity_group_settings" >
        </activity>
        <activity
            android:name=".views.MessagesActivity"
            android:label="@string/title_activity_messages" >
        </activity>
        <activity
            android:name=".views.ReadMessageActivity"
            android:label="@string/title_activity_read_message" >
        </activity>
    </application>

</manifest>
